{% extends "base.html" %}

{% block content %}
<h1>{{ course_name | title_case }} FAQ</h1>

{% if sections %}
<div class="table-of-contents">
    <h2>Table of Contents</h2>
    <ul>
    {% for section_name in sections.keys() %}
        <li><a href="#{{ section_name | lower | replace(' ', '-') }}">{{ section_name }}</a></li>
    {% endfor %}
    </ul>
</div>

{% for section_name, questions in sections.items() %}
<div class="section" id="{{ section_name | lower | replace(' ', '-') }}">
    <h2>{{ section_name }}</h2>
    
    {% for question in questions %}
    <div class="question" id="{{ question.id }}">
        <h3>
            <a href="#{{ question.id }}" class="anchor-link">#</a>
            {{ question.question }}
        </h3>
        <div class="question-content">
            {{ question.content | safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% else %}
<p>No questions found for this course.</p>
{% endif %}
{% endblock %}